<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <!-- remove any machine-wide sources with <clear/> -->
        <clear />
        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
        <add key="Birchman" value="https://pkgs.dev.azure.com/birchman-spain/_packaging/Birchman/nuget/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <disabledPackageSources>

    </disabledPackageSources>
</configuration>